@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2? family= Arimo:wght@400;700 & display=swap");
.body {
  background-color: #3A4965;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.table {
  width: 1143px;
  height: 684px;
  margin: 24px auto;
  border-collapse: collapse;
}



.table tr, .table td {
  text-align: center;
  vertical-align: middle;
  font-family: 'Arimo', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #484848;
  height: 72px;
}

.table td:not(:last-child) {
  border-right: 1px solid #e0e0e0;
}


.head, .email, .products, .price {
  background-color: #FAFAFA;
}

.storage {
  background-color: #F2F2F2;
}

.bandwidth, .support, .users {
  background-color: #E3E3E3;
}

.head td:first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  width: 311px;
}

.head span {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
}

.head td:nth-child(2) {
  background-color: #89C331;
  color: white;
  font-weight: 700;
  font-size: 24px;
  border-right: none;
  width: 280px;
}

.head td:nth-child(3) {
  background-color: #F04A56;
  color: white;
  font-weight: 700;
  font-size: 30px;
  border-right: none;
  width: 280px;
}

.head td:nth-child(4) {
  background-color: #20807C;
  color: white;
  font-weight: 700;
  font-size: 24px;
}


.price td {
  position: relative;
  text-align: left;
  font-weight: 700;
  font-size: 60px;
  padding-left: 33px;
  height: 89px;
}

.price span {
  text-align: left;
  position: absolute;
  left: 139px;
  top: 11px;
  font-weight: 400;
  font-size: 18px;
  
}

.button {
  height: 117px;
}

.button a {
  width: 192px;
  height: 52px;
  display: inline-block;
  text-align: center;
  padding-top: 18px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}

.button td:first-child {
  background-color: #dddddd;
}

.button td:first-child a {
  background-color: #484848;
}

.button td:first-child a::after {
  content: "";
  position: absolute;
  width: 192px;
  height: 9px;
  left: 0px;
  top: 42px;
  background: #404040;
  border-radius: 0px 0px 5px 5px;
}


.button td:nth-child(2) {
  background-color: #eeeeee;
}

.button td:nth-child(2) a {
  background-color: #89C331;
}

.button td:nth-child(2) a::after {
  content: "";
  position: absolute;
  width: 192px;
  height: 9px;
  left: 0px;
  top: 42px;
  background: #79B027;
  border-radius: 0px 0px 5px 5px;
}


.button td:nth-child(3) {
  background-color: #f4f4f4;
}

.button td:nth-child(3) a {
  background-color: #F04A56;
}

.button td:nth-child(3) a::after {
  content: "";
  position: absolute;
  width: 192px;
  height: 9px;
  left: 0px;
  top: 42px;
  background: #DF3A46;
  border-radius: 0px 0px 5px 5px;
}


.button td:last-child {
  background-color: #eeeeee;
}

.button td:last-child a {
  background-color: #20807C;
}

.button td:last-child a::after {
  content: "";
  position: absolute;
  width: 192px;
  height: 9px;
  left: 0px;
  top: 42px;
  background: #16736F;
  border-radius: 0px 0px 5px 5px;
}