@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2? family= Arimo:wght@400;700 & display=swap");
.body {
  background-color: #3a4965;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.table {
  width: 1143px;
  height: 684px;
  margin: 24px auto;
  border-collapse: collapse;
}

.table tr,
.table td {
  text-align: center;
  vertical-align: middle;
  font-family: "Arimo", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #484848;
  box-sizing: border-box;
}

.standard,
.ultimate,
.premium {
  height: 167px;
}

.standart__price a,
.ultimate__price a,
.premium__price a {
  background-color: #484848;
  width: 155px;
  height: 44px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 10px;
  box-sizing: border-box;
  position: relative;
}

.table td {
  border-bottom: 1px solid #bdbdbd;
}

/* HEADER */

.head {
  height: 101px;
  border-bottom: 9px solid #3a4965;
}

.head td:not(:first-child) {
  width: 159px;
}

.head td:nth-child(even) {
  background-color: #e3e3e3;
  font-size: 20px;
  font-weight: 700;
}

.head td:nth-child(odd) {
  background-color: #f2f2f2;
  font-size: 20px;
  font-weight: 700;
}

.head td:first-child {
  width: 201px;
  background-color: #fafafa;
  font-weight: 700;
  font-size: 14px;
}

.head td:first-child span {
  font-size: 20px;
  font-weight: 700;
}

.standard td:first-child {
  border: none;
}

.standard td:nth-child(even) {
  background-color: #e3e3e3;
}

.standard td:nth-child(odd) {
  background-color: #f2f2f2;
}

.standard td:first-child {
  width: 201px;
  background-color: #89c331;
  color: white;
}

.standart__price {
  box-sizing: border-box;
}

.standart__price p:first-child {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 3px;
}

.standart__price p:nth-child(2) {
  position: relative;
  left: -18px;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
}

.standart__price span:first-child {
  position: absolute;
  left: 77px;
  top: -8px;
  font-weight: 700;
  font-size: 18px;
}

.standart__price span:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  position: relative;
  left: 28px;
  top: -3px;
}

.standart__price a::after {
  content: "";
  position: absolute;
  width: 155px;
  height: 6px;
  left: 0px;
  top: 37px;
  background: #404040;
  border-radius: 0px 0px 5px 5px;
}

.ultimate td:first-child {
  border: none;
}

.ultimate td:nth-child(even) {
  background-color: #e3e3e3;
}

.ultimate td:nth-child(odd) {
  background-color: #f2f2f2;
}

.ultimate td:first-child {
  width: 201px;
  background-color: #f04a56;
  color: white;
}

.ultimate__price {
  box-sizing: border-box;
}

.ultimate__price p:first-child {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 3px;
}

.ultimate__price p:nth-child(2) {
  position: relative;
  left: -18px;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
}

.ultimate__price span:first-child {
  position: absolute;
  left: 77px;
  top: -8px;
  font-weight: 700;
  font-size: 18px;
}

.ultimate__price span:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  position: relative;
  left: 28px;
  top: -3px;
}

.ultimate__price a::after {
  content: "";
  position: absolute;
  width: 155px;
  height: 6px;
  left: 0px;
  top: 37px;
  background: #404040;
  border-radius: 0px 0px 5px 5px;
}

/* PREMIUM PRICE */

.premium td:first-child {
  border: none;
}

.premium td:nth-child(even) {
  background-color: #e3e3e3;
}

.premium td:nth-child(odd) {
  background-color: #f2f2f2;
}

.premium td:first-child {
  width: 201px;
  background-color: #20807c;
  color: white;
}

.premium__price {
  box-sizing: border-box;
}

.premium__price p:first-child {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 3px;
}

.premium__price p:nth-child(2) {
  position: relative;
  left: -18px;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
}

.premium__price span:first-child {
  position: absolute;
  left: 77px;
  top: -8px;
  font-weight: 700;
  font-size: 18px;
}

.premium__price span:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  position: relative;
  left: 28px;
  top: -3px;
}

.premium__price a::after {
  content: "";
  position: absolute;
  width: 155px;
  height: 6px;
  left: 0px;
  top: 37px;
  background: #404040;
  border-radius: 0px 0px 5px 5px;
}
